.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fffffe; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

}

div.headerContainer {
    display:flex;
}

.iconYT {
width:auto;
height:75px;
}

.intro {
    font-size:2rem!important;
    color:#262926;
}

@media (max-width: 768px) {
.iconYT {
display:none;
}

.intro {
    font-size:2rem!important;
    color:#262926;
    margin-left:20px;
}
}